<div class="p-3 list-titles">


    <div class="container"  *ngFor="let dados of contatos" >

        <div  class="title-item" > 
            <h3>{{dados.nome}}</h3>
            <iframe 
                width="560" 
                height="315" 
                src="https://www.youtube.com/embed/ZNSWsDJ-Su0"
                frameborder="0" 
                allowfullscreen>
            </iframe>
        </div>
        
        <ul class="infos">
            <li class="relevance">{{dados.relevancia}} Relevance</li>
            <li class="age">{{dados.ano}}</li>
        </ul>
        <video controls src="{{dados.video}}"></video>
    </div>
    
</div>




