<div class="p-3 list-titles">


    <div class="container"  *ngFor="let dados of contatos" >

        <div  class="title-item" > 
            <h3>{{dados.nome}}</h3>
            <ul class="infos">
                <li class="relevance">Relevancia {{dados.relevancia}}</li>
                <li class="age">idade {{dados.ano}}</li>
            </ul>
            <iframe 
                width="560" 
                height="315" 
                [src]="getEmbedUrl(dados)" 
                frameborder="0" 
                allowfullscreen>
            </iframe>
        </div>
        
        
    </div>
    
</div>




